*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
}
.progress{
    background-color: gray;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    height: 30px;
    width: 300px;
}
.progress-done{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(to left,    #0546e0,    #1172f9,    #4892f9    );
    box-shadow: 0 5px -6px #0546e0, 0 3px 7px #1172f9;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    color: #fff;
    height: 100%;
    width: 0;
    transition: 1s ease 0.3s;
    -webkit-transition: 1s ease 0.3s;
    -moz-transition: 1s ease 0.3s;
    -ms-transition: 1s ease 0.3s;
    -o-transition: 1s ease 0.3s;
}
.inputBtn{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

input{
    width: 100%;
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;

}
input:focus{
    border: 2px solid rgb(124, 138, 255);
}